@font-face {
   font-family: 'LaLuxesSerif';
   font-display: swap;
   src: url('file:///C:/Users/Arjun%20Akna/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-11-08_124324/fonts/LaLuxesSerif/font.ttf');
}
